<!DOCTYPE html>
<html>
<head>
	<title>TODO</title>
	
	<meta name="title" content="">
	<meta name="description" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	
	<%- include('../common/head') %>
	
	<script src="/js/lib/crypto-js/crypto-js.js"></script>
</head>
<body>
	<main id="signupPage">
		<div id="smithoo" class="loginForm">
			<form id="signupForm" method="POST">
				<input type="password" id="pw" placeholder="password">
			</form>
			<button type="submit" class="encryptButton" formaction="/todo/signup" data-who="Smithoo">Submit</button>
		</div>
	</main>
	
	<%- include('../common/footer') %>
	
	<script src="/js/todo.js"></script>
</body>
</html>
