<!DOCTYPE html>
<html>
<head>
	<title>TODO</title>
	
	<meta name="title" content="">
	<meta name="description" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	
	<%- include('../common/head') %>
	
	<script src="/js/lib/crypto-js/crypto-js.js"></script>
</head>
<body>
	<main>
		<h1>Log in fail!!!</h1>
	</main>
	
	<%- include('../common/footer') %>
	
	<script src="/js/todo.js"></script>
</body>
</html>
