<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<meta name="title" content="">
	<meta name="description" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	
	<%- include('../common/head') %>
	
	<script src="/js/lib/crypto-js/crypto-js.js"></script>
</head>
<body>
	<main>
		<div id="smithoo" class="loginForm">
			<div class="nameSet" data-name="Smithoo">
				
			</div>
			<div class="pwSet">
				<input type="password" id="pwSmithoo" placeholder="password">
				<button type="button" class="encryptButton" data-who="Smithoo">Submit</button>
			</div>
		</div>
		<div id="jimin" class="loginForm">
			<div class="nameSet" data-name="Jimin">
				
			</div>
			<div class="pwSet">
				<input type="password" id="pwJimin" placeholder="password">
				<button type="button" class="encryptButton" data-who="Jimin">Submit</button>
			</div>
		</div>
	</main>
	
	<%- include('../common/footer') %>
	
	<script src="/js/todo.js"></script>
</body>
</html>