<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<meta name="title" content="">
	<meta name="description" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	
	<%- include('../common/head') %>
	
	<script src="/js/lib/crypto-js/crypto-js.js"></script>
</head>
<body>
	<h1><%= title %></h1>

	<input type="text" name="password" id="password" placeholder="password">
	<button type="button" id="encryptButton">ENCRYPT</button>
	
	<%- include('../common/footer') %>
	
	<script src="/js/todo.js"></script>
</body>
</html>
