body, html, main, section {
	height: 100%;
}
#cover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	z-index: 999;
}
nav {
	position: fixed;
	top: 20px;
	left: 20px;
}
nav li {
	background-color: red;
}
main {
	width: 300%;
}
main section {
	width: 33.3%;
}
main section {
	float: left;
	text-align: center;
	font-size: 50px;
}