<!DOCTYPE html>
<html>
<head>
	<title>Rrrain</title>
	
	<meta name="title" content="RRRAIN">
	<meta name="description" content="RRRRRRRRRRRRRRRPIN!!!">
	<meta property="og:url" content="http://smithoo.com/ui/rrrain">
	<meta property="og:title" content="RRRAIN">
	<meta property="og:description" content="RRRRRRRRRRRRRRAIN!!!">
	<meta property="og:image" content="/img/ui/rrrain/rrrain.jpg">
	<meta property="og:image:width" content="640">
	<meta property="og:image:height" content="460">

	<%- include(config.root.VIEW_ROOT + '/common/head') %>
	
	<link rel="stylesheet" type="text/css" href="/css/rrrain.css">
</head>
<body>
	<main>
		<h1>Rrrain</h1>
		<h2>CSS Rain</h2>
		<section id="sky">
			
		</section>
	</main>
	<%- include(config.root.VIEW_ROOT + '/common/footer') %>
	<script src="/js/rrrain.js"></script>
</body>
</html>