html, body, main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

main {
	position: relative;
	background-color: #aeaeae;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.m-show {
	display: none;
}

.wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	margin: auto;
	height: 120px;
}

.wrap > * {
	color: #fff;
	line-height: 45px;
}

@media all and (max-width : 933px) {
}

@media all and (max-width : 601px) {
	.m-show {
		display: block;
	}
}
