<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	
	<meta name="title" content="Smithoo's blog">
	<meta name="description" content="Hello, world! I'm Smithoo.">
	<meta property="og:url" content="">
	<meta property="og:title" content="Smithoo's blog">
	<meta property="og:description" content="Hello, world! I'm Smithoo.">
	
	<%- include('./common/head') %>
	
	<script src="/js/lib/crypto-js/crypto-js.js"></script>
</head>
<body>
	<h1>title!!!</h1>
	<% if (showTest) { %>
		<h2>TEST</h2>
	<% } %>

	<nav>
		<ul>
			<li><a href="#test1">t1</a></li>
			<li><a href="#test2">t2</a></li>
			<li><a href="#test3">t3</a></li>
			<li><a href="#test4">t4</a></li>
			<li><a href="#test5">t5</a></li>
			<li><a href="#test6">t6</a></li>
			<li><a href="#test7">t7</a></li>
			<li><a href="#test8">t8</a></li>
			<li><a href="#test9">t9</a></li>
		</ul>
	</nav>
	<main>
		<section id="test1" style="background-color: red;">PAGE1</section>
		<section id="test2" style="background-color: blue;">PAGE2</section>
		<section id="test3" style="background-color: yellow;">PAGE3</section>
		<section id="test4" style="background-color: black;">PAGE4</section>
		<section id="test5" style="background-color: green;">PAGE5</section>
		<section id="test6" style="background-color: pink;">PAGE6</section>
		<section id="test7" style="background-color: white;">PAGE7</section>
		<section id="test8" style="background-color: aqua;">PAGE8</section>
		<section id="test9" style="background-color: magenta;">PAGE9</section>
	</main>
		
	<%- include('./common/footer') %>
	
	<script src="/js/smithoo.js"></script>
</body>
</html>
