<!DOCTYPE html>
<html>
<head>
	<title>Smithoo's world</title>
	
	<meta name="title" content="Smithoo's world">
	<meta name="description" content="Hello, world! I'm Smithoo.">
	<meta property="og:url" content="http://smithoo.com">
	<meta property="og:title" content="Smithoo's blog">
	<meta property="og:description" content="Hello, world! I'm Smithoo.">
	<meta property="og:image" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
	
	<%- include('./common/head') %>
	
	<link rel="stylesheet" href="/dist/css/smithoo.css">
</head>
<body>
	<nav>
		<div class="workshopTitle">
			<div class="picture">
				<img src="/dist/img/smithoo.jpg" alt="">
			</div>
			<p>스미스의 UI 공작소</p>
		</div>
		<h1>Hello, world!</h1>
	</nav>
	<aside>
		<ul class="uiList">
			<li data-ui="Ssspin">
				<div class="flipper">
					<div class="front">
						Ssspin
					</div>
					<div class="back">
						Ssspin
					</div>
				</div>
			</li>
			<li data-ui="Rrrain">
				<div class="flipper">
					<div class="front">
						Rrrain
					</div>
					<div class="back">
						Rrrain
					</div>
				</div>
			</li>
			<li data-ui="Cccard">
				<div class="flipper">
					<div class="front">
						Cccard
					</div>
					<div class="back">
						Cccard
					</div>
				</div>
			</li>
			<li data-ui="Ssslide">
				<div class="flipper">
					<div class="front">
						Ssslide
					</div>
					<div class="back">
						Ssslide
					</div>
				</div>
			</li>
			<li data-ui="SepScroll">
				<div class="flipper">
					<div class="front">
						SepScroll
					</div>
					<div class="back">
						SepScroll
					</div>
				</div>
			</li>
			<li data-ui="Ssspotlight">
				<div class="flipper">
					<div class="front">
						Ssspotlight
					</div>
					<div class="back">
						Ssspotlight
					</div>
				</div>
			</li>
		</ul>
	</aside>
	<main>
		<div class="hello">
			<h2>Hello, world! <br class="m-show">I'm Smithoo.</h2>
		</div>
	</main>
	
	<%- include('./common/footer') %>
	<script src="/lib/js/handlebars.min.js"></script>
	<script src="/dist/js/smithoo.js"></script>
	
	<script id="SsslideTemplate" type="text/x-handlebars-template">
		<div class="ssslide">
			<section>
				<div id="sss1" class="sss" data-width="3000"><img src="/dist/img/ui/ssslide/s1.jpg"></div>
				<div id="sss2" class="sss" data-width="3600"><img src="/dist/img/ui/ssslide/s2.png"></div>
				<div id="sss3" class="sss" data-width="4500"><img src="/dist/img/ui/ssslide/s3.png"></div>
				<div id="sss4" class="sss" data-width="6000"><img src="/dist/img/ui/ssslide/s4.png"></div>
			</section>
			<div class="control">
				<button type="button" id="goLeft" class="gogo" value="left">&lt;</button>
				<button type="button" id="goRight" class="gogo" value="right">&gt;</button>	
			</div>
		<div>
	</script>
	<script id="SsspinTemplate" type="text/x-handlebars-template">
		<h1>Ssspin!!!</h1>
			<h2>Inspired by <a href="https://www.youtube.com/watch?v=aDxfyTfPo48" target="_blank">Kinetic Sculpture (by Clayton Boyer)</a></h2>
			<div class="ssspin" id="ssspin1">
				<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="240px" height="240px" viewBox="0 0 240 240" enable-background="new 0 0 240 240" xml:space="preserve">
<path fill="#1B0B06" d="M187.488,60.855l-7.896,49.073c-11.871-6.344-25.485-8.411-41.003-5.946
	c-0.006-0.007-0.012-0.013-0.018-0.02c-0.118-0.138-0.238-0.275-0.359-0.41c-0.13-0.144-0.263-0.284-0.396-0.426
	c-0.157-0.165-0.313-0.329-0.475-0.489c-0.104-0.103-0.209-0.204-0.315-0.307c-0.198-0.19-0.4-0.38-0.604-0.563
	c-0.075-0.067-0.151-0.134-0.228-0.2c-0.242-0.212-0.486-0.419-0.735-0.621c-0.05-0.039-0.099-0.078-0.148-0.117
	c-0.281-0.224-0.565-0.441-0.854-0.651c-0.023-0.017-0.047-0.033-0.069-0.05c-0.038-0.027-0.075-0.055-0.113-0.081
	c16.269-12.831,32.592-13.702,40.69-11.981l-18.622-48.754c27.235-5.473,64.436,9.956,81.312,50.742
	c-12.095-49.294-61.484-62.201-88.717-55.02l17.673,46.451c-13.444,0.447-26.262,5.468-38.464,15.36
	c-1.9-0.674-3.848-1.099-5.801-1.285c7.68-19.261,21.385-28.188,29.259-30.751l-40.479-32.901
	c20.853-18.371,60.774-23.629,95.763,3.245C171.79-1.482,122.57,12.06,102.574,31.911l38.506,31.382
	c-11.43,7.123-20.027,17.9-25.655,32.597c-1.958,0.376-3.864,0.989-5.678,1.828c-2.939-20.482,4.458-35.044,9.989-41.197
	l-51.488-8.234c8.883-26.347,40.829-50.881,84.553-45.12c-48.692-14.16-84.554,22.203-91.956,49.402l49.022,7.904
	c-6.332,11.874-8.398,25.49-5.946,41.008c-1.489,1.288-2.792,2.732-3.902,4.294C87.195,89.486,86.324,73.141,88.044,65.033
	L39.341,83.674c-5.467-27.264,9.946-64.501,50.688-81.396c-49.241,12.108-62.135,61.549-54.96,88.81l46.402-17.692
	c0.448,13.472,5.473,26.316,15.373,38.542c-0.091,0.263-0.181,0.524-0.262,0.79c-0.025,0.077-0.046,0.156-0.069,0.233
	c-0.083,0.277-0.164,0.554-0.236,0.833c-0.053,0.203-0.101,0.409-0.148,0.613c-0.037,0.161-0.077,0.321-0.11,0.482
	c-0.061,0.276-0.112,0.556-0.161,0.836c-0.017,0.095-0.036,0.188-0.051,0.283c-0.054,0.322-0.099,0.647-0.14,0.974
	c-0.008,0.056-0.015,0.109-0.021,0.164c-0.017,0.137-0.038,0.272-0.052,0.41c-19.115-7.7-27.987-21.357-30.539-29.214
	l-32.868,40.521C13.835,107.99,8.583,68.026,35.429,33.001C-1.167,68.134,12.36,117.406,32.19,137.422l31.349-38.547
	c7.08,11.383,17.773,19.959,32.337,25.593c0.367,2.005,0.976,3.923,1.799,5.725c-20.493,2.967-35.063-4.447-41.215-9.991
	l-8.225,51.543c-26.319-8.893-50.829-40.874-45.073-84.642c-14.146,48.742,22.18,84.643,49.351,92.051l7.896-49.072
	c11.874,6.345,25.492,8.411,41.013,5.945c1.261,1.459,2.689,2.768,4.259,3.895c-16.252,12.796-32.552,13.664-40.643,11.942
	l18.621,48.755c-27.234,5.473-64.433-9.955-81.31-50.742c12.096,49.293,61.486,62.203,88.717,55.019l-17.674-46.45
	c13.429-0.448,26.232-5.458,38.422-15.326c1.879,0.66,3.862,1.094,5.92,1.275c-7.686,19.199-21.359,28.103-29.221,30.661
	l40.478,32.902c-20.852,18.371-60.774,23.629-95.761-3.244c35.096,36.634,84.316,23.091,104.311,3.242l-38.506-31.383
	c11.416-7.113,20.008-17.875,25.635-32.545c1.685-0.332,3.308-0.838,4.849-1.498c0.068-0.028,0.137-0.058,0.204-0.087
	c0.072-0.03,0.144-0.065,0.216-0.098c0.072-0.031,0.146-0.063,0.218-0.095c2.953,20.499-4.449,35.074-9.984,41.23l51.487,8.234
	c-8.882,26.346-40.829,50.881-84.551,45.12c48.691,14.158,84.553-22.205,91.954-49.402l-49.022-7.904
	c6.331-11.87,8.398-25.48,5.95-40.987c0.07-0.06,0.139-0.122,0.208-0.184c0.074-0.063,0.147-0.129,0.221-0.195
	c0.208-0.187,0.413-0.378,0.615-0.572c0.102-0.099,0.202-0.195,0.301-0.294c0.168-0.166,0.33-0.336,0.493-0.507
	c0.126-0.134,0.253-0.269,0.376-0.403c0.129-0.146,0.257-0.29,0.383-0.437c0.148-0.172,0.295-0.346,0.438-0.521
	c0.099-0.119,0.194-0.243,0.291-0.366c0.162-0.206,0.322-0.415,0.478-0.627c0.067-0.093,0.135-0.186,0.202-0.28
	c12.823,16.287,13.693,32.632,11.973,40.74l48.705-18.641c5.467,27.263-9.947,64.501-50.688,81.396
	c49.239-12.108,62.134-61.551,54.96-88.81l-46.402,17.691c-0.448-13.47-5.471-26.312-15.368-38.534
	c0.65-1.868,1.062-3.778,1.244-5.697c19.233,7.688,28.147,21.405,30.708,29.286l32.867-40.52
	c18.353,20.873,23.604,60.838-3.24,95.86c36.596-35.133,23.067-84.404,3.238-104.42l-31.351,38.547
	c-7.113-11.438-17.873-20.043-32.543-25.675c-0.184-0.957-0.423-1.908-0.725-2.85c-0.003-0.008-0.005-0.017-0.008-0.025
	c-0.099-0.31-0.208-0.618-0.319-0.927c-0.03-0.081-0.059-0.164-0.089-0.245c-0.092-0.24-0.188-0.479-0.287-0.717
	c-0.063-0.152-0.126-0.304-0.191-0.454c-0.05-0.116-0.101-0.23-0.153-0.345c20.494-2.966,35.063,4.448,41.216,9.991l8.226-51.543
	c26.32,8.893,50.83,40.874,45.072,84.641C250.984,104.164,214.659,68.265,187.488,60.855z"/>
</svg>
			</div>
			<div class="ssspin" id="ssspin2">
				<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="240px" height="240px" viewBox="0 0 240 240" enable-background="new 0 0 240 240" xml:space="preserve">
<path fill="#1B0B06" d="M187.488,60.855l-7.896,49.073c-11.871-6.344-25.485-8.411-41.003-5.946
	c-0.006-0.007-0.012-0.013-0.018-0.02c-0.118-0.138-0.238-0.275-0.359-0.41c-0.13-0.144-0.263-0.284-0.396-0.426
	c-0.157-0.165-0.313-0.329-0.475-0.489c-0.104-0.103-0.209-0.204-0.315-0.307c-0.198-0.19-0.4-0.38-0.604-0.563
	c-0.075-0.067-0.151-0.134-0.228-0.2c-0.242-0.212-0.486-0.419-0.735-0.621c-0.05-0.039-0.099-0.078-0.148-0.117
	c-0.281-0.224-0.565-0.441-0.854-0.651c-0.023-0.017-0.047-0.033-0.069-0.05c-0.038-0.027-0.075-0.055-0.113-0.081
	c16.269-12.831,32.592-13.702,40.69-11.981l-18.622-48.754c27.235-5.473,64.436,9.956,81.312,50.742
	c-12.095-49.294-61.484-62.201-88.717-55.02l17.673,46.451c-13.444,0.447-26.262,5.468-38.464,15.36
	c-1.9-0.674-3.848-1.099-5.801-1.285c7.68-19.261,21.385-28.188,29.259-30.751l-40.479-32.901
	c20.853-18.371,60.774-23.629,95.763,3.245C171.79-1.482,122.57,12.06,102.574,31.911l38.506,31.382
	c-11.43,7.123-20.027,17.9-25.655,32.597c-1.958,0.376-3.864,0.989-5.678,1.828c-2.939-20.482,4.458-35.044,9.989-41.197
	l-51.488-8.234c8.883-26.347,40.829-50.881,84.553-45.12c-48.692-14.16-84.554,22.203-91.956,49.402l49.022,7.904
	c-6.332,11.874-8.398,25.49-5.946,41.008c-1.489,1.288-2.792,2.732-3.902,4.294C87.195,89.486,86.324,73.141,88.044,65.033
	L39.341,83.674c-5.467-27.264,9.946-64.501,50.688-81.396c-49.241,12.108-62.135,61.549-54.96,88.81l46.402-17.692
	c0.448,13.472,5.473,26.316,15.373,38.542c-0.091,0.263-0.181,0.524-0.262,0.79c-0.025,0.077-0.046,0.156-0.069,0.233
	c-0.083,0.277-0.164,0.554-0.236,0.833c-0.053,0.203-0.101,0.409-0.148,0.613c-0.037,0.161-0.077,0.321-0.11,0.482
	c-0.061,0.276-0.112,0.556-0.161,0.836c-0.017,0.095-0.036,0.188-0.051,0.283c-0.054,0.322-0.099,0.647-0.14,0.974
	c-0.008,0.056-0.015,0.109-0.021,0.164c-0.017,0.137-0.038,0.272-0.052,0.41c-19.115-7.7-27.987-21.357-30.539-29.214
	l-32.868,40.521C13.835,107.99,8.583,68.026,35.429,33.001C-1.167,68.134,12.36,117.406,32.19,137.422l31.349-38.547
	c7.08,11.383,17.773,19.959,32.337,25.593c0.367,2.005,0.976,3.923,1.799,5.725c-20.493,2.967-35.063-4.447-41.215-9.991
	l-8.225,51.543c-26.319-8.893-50.829-40.874-45.073-84.642c-14.146,48.742,22.18,84.643,49.351,92.051l7.896-49.072
	c11.874,6.345,25.492,8.411,41.013,5.945c1.261,1.459,2.689,2.768,4.259,3.895c-16.252,12.796-32.552,13.664-40.643,11.942
	l18.621,48.755c-27.234,5.473-64.433-9.955-81.31-50.742c12.096,49.293,61.486,62.203,88.717,55.019l-17.674-46.45
	c13.429-0.448,26.232-5.458,38.422-15.326c1.879,0.66,3.862,1.094,5.92,1.275c-7.686,19.199-21.359,28.103-29.221,30.661
	l40.478,32.902c-20.852,18.371-60.774,23.629-95.761-3.244c35.096,36.634,84.316,23.091,104.311,3.242l-38.506-31.383
	c11.416-7.113,20.008-17.875,25.635-32.545c1.685-0.332,3.308-0.838,4.849-1.498c0.068-0.028,0.137-0.058,0.204-0.087
	c0.072-0.03,0.144-0.065,0.216-0.098c0.072-0.031,0.146-0.063,0.218-0.095c2.953,20.499-4.449,35.074-9.984,41.23l51.487,8.234
	c-8.882,26.346-40.829,50.881-84.551,45.12c48.691,14.158,84.553-22.205,91.954-49.402l-49.022-7.904
	c6.331-11.87,8.398-25.48,5.95-40.987c0.07-0.06,0.139-0.122,0.208-0.184c0.074-0.063,0.147-0.129,0.221-0.195
	c0.208-0.187,0.413-0.378,0.615-0.572c0.102-0.099,0.202-0.195,0.301-0.294c0.168-0.166,0.33-0.336,0.493-0.507
	c0.126-0.134,0.253-0.269,0.376-0.403c0.129-0.146,0.257-0.29,0.383-0.437c0.148-0.172,0.295-0.346,0.438-0.521
	c0.099-0.119,0.194-0.243,0.291-0.366c0.162-0.206,0.322-0.415,0.478-0.627c0.067-0.093,0.135-0.186,0.202-0.28
	c12.823,16.287,13.693,32.632,11.973,40.74l48.705-18.641c5.467,27.263-9.947,64.501-50.688,81.396
	c49.239-12.108,62.134-61.551,54.96-88.81l-46.402,17.691c-0.448-13.47-5.471-26.312-15.368-38.534
	c0.65-1.868,1.062-3.778,1.244-5.697c19.233,7.688,28.147,21.405,30.708,29.286l32.867-40.52
	c18.353,20.873,23.604,60.838-3.24,95.86c36.596-35.133,23.067-84.404,3.238-104.42l-31.351,38.547
	c-7.113-11.438-17.873-20.043-32.543-25.675c-0.184-0.957-0.423-1.908-0.725-2.85c-0.003-0.008-0.005-0.017-0.008-0.025
	c-0.099-0.31-0.208-0.618-0.319-0.927c-0.03-0.081-0.059-0.164-0.089-0.245c-0.092-0.24-0.188-0.479-0.287-0.717
	c-0.063-0.152-0.126-0.304-0.191-0.454c-0.05-0.116-0.101-0.23-0.153-0.345c20.494-2.966,35.063,4.448,41.216,9.991l8.226-51.543
	c26.32,8.893,50.83,40.874,45.072,84.641C250.984,104.164,214.659,68.265,187.488,60.855z"/>
</svg>
			</div>
			<nav>
				<div class="controller">
					<p>Ssspin 1</p>
					<input type="range" class="velocity" id="velocity1" min="-10" max="10" step="1" value="0">
				</div>
				<div class="controller">
					<p>Ssspin 2</p>
					<input type="range" class="velocity" id="velocity2" min="-10" max="10" step="1" value="0">
				</div>
			</nav>
	</script>
	<script id="RrrainTemplate" type="text/x-handlebars-template">
		<div class="rrrain">
			<section id="sky"></section>
		</div>
	</script>
	<script id="SepScrollTemplate" type="text/x-handlebars-template">
		<section id="left" class="side">
			<ul>
				<li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li>
			</ul>
		</section>
		<section id="center">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
		</section>
		<section id="right" class="side">
			<ul>
				<li>1</li><li>2</li><li>3</li><li>4</li><li>5</li>
			</ul>
		</section>
	</script>
	<script id="SsspotlightTemplate" type="text/x-handlebars-template">
		<div id="spotlight1" class="spotlight">●</div>
		<div id="spotlight2" class="spotlight">●</div>
	</script>
	<script id="CccardTemplate" type="text/x-handlebars-template">
		<nav class="blur">
			<h3>MESSAGE</h3>
			<button type="button" id="retryButton">다시 보기</button>
		</nav>
		<section class="cardGrid floating">
            <h4>CONTENTS</h4>
            <div id="spinBox" class=""><!--spinning box-->
                <div class="row"></div>
            </div>
        </section>
	</script>
	<script id="nobrTemplate" type="text/x-handlebars-template">
        <div id="{{boxId}}" class="{{col}} {{row}} {{margin}} {{from}}" data-from="{{from}}">
            <p><nobr>{{boxText}}</nobr></p>
        </div>
    </script>
    <script id="spanTemplate" type="text/x-handlebars-template">
        <div id="{{boxId}}" class="{{col}} {{row}} {{margin}} {{from}}" data-from="{{from}}">
            <p><span>{{boxText}}</span></p>
        </div>
    </script>
	<div class="noise"></div>
</body>
</html>
