<!DOCTYPE html>
<html>
<head>
	<title>Smithoo's world</title>
	
	<meta name="title" content="Smithoo's world">
	<meta name="description" content="Hello, world! I'm Smithoo.">
	<meta property="og:url" content="http://smithoo.com">
	<meta property="og:title" content="Smithoo's blog">
	<meta property="og:description" content="Hello, world! I'm Smithoo.">
	<meta property="og:image" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
	
	<%- include('./common/head') %>
	
	<link rel="stylesheet" href="/css/smithoo.css">
</head>
<body>
	<main>
		<div class="wrap">
			<h1>Hello, world! <br class="m-show">I'm Smithoo.</h1>
		</div>
	</main>
	<script src=""></script>
</body>
</html>
