<!DOCTYPE html>
<html>
<head>
	<title>Ssspin</title>
	
	<meta name="title" content="SSSPIN">
	<meta name="description" content="SSSSSSSSSSSSSSPIN!!!">
	<meta property="og:url" content="http://smithoo.com/ssspin">
	<meta property="og:title" content="SSSPIN">
	<meta property="og:description" content="SSSSSSSSSSSSSSPIN!!!">
	<meta property="og:image" content="/img/ssspin.jpg">
	<meta property="og:image:width" content="720">
	<meta property="og:image:height" content="480">

	<%- include('./common/head') %>
	
	<link rel="stylesheet" type="text/css" href="/css/ssspin.css">
</head>
<body>
	<main>
		<h1>Ssspin!!!</h1>
		<h2>Inspired by <a href="https://www.youtube.com/watch?v=aDxfyTfPo48" target="_blank">Kinetic Sculpture (by Clayton Boyer)</a></h2>
		<div class="ssspin" id="ssspin1">
			<%- include('./partial/ssspin') %>
		</div>
		<div class="ssspin" id="ssspin2">
			<%- include('./partial/ssspin') %>
		</div>
		<nav>
			<div class="controller">
				<p>Ssspin 1</p>
				<input type="range" class="velocity" id="velocity1" min="-10" max="10" step="1" value="0">
			</div>
			<div class="controller">
				<p>Ssspin 2</p>
				<input type="range" class="velocity" id="velocity2" min="-10" max="10" step="1" value="0">
			</div>
		</nav>	
	</main>
	<%- include('./common/footer') %>
	<script src="/js/ssspin.js"></script>
</body>
</html>


